<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
        p, a, h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif !important;}
        h1{ font-size: 30px !important;}
        h2{ font-size: 25px !important;}
        h3{ font-size: 18px !important;}
        h4{ font-size: 16px !important;}
        p, a{font-size: 15px !important;}

        .claseBoton{
            width: 30%;
                background-color: #fcae3b;
                border: 2px solid #fcae3b;
                color: black; 
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                font-weight: bold;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
        }
        .claseBoton:hover{
            background-color: #000000;
            color: #ffffff;
        }
        .imag{
            width: 20px;
            height: 20px;
        }
        .contA{
            margin: 0px 5px 0 5px;
        }
        .afooter{
            color: #ffffff !important; 
            text-decoration: none;
            font-size: 13px !important;
        }
    </style>
    </head>
    <body>
        <div style="width: 100%; background-color: #e3e3e3;">
            <div style="padding: 0px">
                <!-- Imagen inicial -->
                <div style="background-color: black; padding: 3px;
                    width: 100%; text-align: center;">
                    <h1 style="color: #FA9A29; padding-top: 5px;">Seja bem-vindo
                        e vamos juntos!</h1>
                    <img src="{{headerImg}}" alt="header" style="width:
                        13%; height: 100%;">
                </div>
                <!-- Imagen inicial -->

                <!-- Contenido principal -->
                <div style="background-color: #FA9A29 ; padding: 20px 0px 5px
                    0px; width: 100%; text-align: center;">
                    <h1 style="color:black ">Olá, {{clienteCriado}}</h1>
                    <p style="color: black">Queremos lhe desejar boa sorte e
                        boas-vindas, que você obtenha muito sucesso nessa nova
                        fase de sua vida.
                        É muito bom ver nossa equipe crescer e
                        receber uma pessoa competente como você. Conte conosco
                        para tudo o que
                        precisar!
                    </p>
                    <p style="color: black;">“Nós somos o que fazemos todos os
                        dias. Deste modo, a
                        excelência não é um ato, mas um hábito” – Aristóteles
                    </p>

                    <!-- Gracias -->
                    <p style="color: black">Boas Vindas!</p>
                    <p style="margin-bottom: 50px; color: black;"><i>Atenciosamente:</i><br>Equipe
                        Clínica Pet</p>

                    <!-- Botón -->
                    <a class="claseBoton" href="http://localhost:4200/">Clínica Pet</a>
                </div>
                <!-- Contenido principal -->

                <!-- Footer -->
                <div style="background-color: black; color: #FA9A29; padding:
                    20px 0px 0px 0px; width: 100%; text-align: center;">
                    <!-- Redes sociales -->
                    <a href="https://www.facebook.com/jonny.teles.1"
                        target="_blank" class="contA"><img
                            src="{{facebookImg}}" class="imag"/></a>
                    <a href="https://www.linkedin.com/in/jonnyteles/"
                        target="_blank" class="contA"><img
                            src="{{linkedinImg}}" class="imag" /></a>
                    <a href="https://wa.link/8pdjan" target="_blank"
                        class="contA"><img src="{{whatsappImg}}" class="imag"
                            /></a>
                    <a href="https://github.com/J0nnY666" target="_blank"
                        class="contA"><img src="{{githubImg}}" class="imag" /></a>
                    <!-- Redes sociales -->

                    <h4>Suporte</h4>
                    <p style="font-size: 13px; padding: 0px 20px 0px 20px;">
                        Contacte-nos pelos seguintes meios:<br>
                        E-mail: <a class="afooter"
                            href="mailto:clinicapet.api@gmail.com">clinicapet.api@gmail.com</a><br>
                        Whatsapp: <a class="afooter" href="wa.link/jd9zav">+55
                            54 9 99199521</a><br>
                    </p>
                    <p style="background-color: #FA9A29; color: black; padding:
                        10px 0px 10px
                        0px; font-size: 12px !important;">
                        © 2022 Clínica Pet, todos os direitos reservados...
                    </p>
                </div>
                <!-- Footer -->



            </div>
        </div>
    </body>
</html>